# Perform the following analysis on the provided file "demo.csv".


## 1. Which month saw the highest joining of the employees

   function name: max_joinings_month()
   
   inputs: DataFrame

   outputs: str
   
   
## 2. What is the mean salary is the state KS

   function name: mean_ks_salary()
   
   inputs: DataFrame

   outputs: float
   
   
## 3. Which Region has highest mean salary

   function name: max_mean_salary_region()

   inputs: DataFrame

   outputs: str
   
   
## 4. Which region has lowest mean salary

   function name: min_mean_salary_region()

   inputs: DataFrame

   outputs: str
   
   
## 5. Which City has highest mean weight

   function name: max_mean_weight_city()

   inputs: DataFrame

   outputs: str
   
   
## 6. What is the difference between mean salary of Doctors and Professors

   function name: dr_prof_mean_salary_diff()

   inputs: DataFrame

   outputs: float
   
   
## 7. How many female use yahoo

   function name: females_with_yahoo()

   inputs: DataFrame

   outputs: int
   
   
## 8. How many Doctors use gmail

   function name: doctors_with_gmail()

   inputs: DataFrame

   outputs: int
   
   
## 9. What is the password of the youngest male

   function name: youngest_male_password()

   inputs: DataFrame

   outputs: str

In [2]:
import numpy as np
import pandas as pd

In [4]:
df = pd.read_csv('/content/demo.csv')
df.head(2)

,Emp ID,Name Prefix,First Name,Middle Initial,Last Name,Gender,E Mail,Father's Name,Mother's Name,Mother's Maiden Name,...,SSN,Phone No.,Place Name,County,City,State,Zip,Region,User Name,Password
0,850297,Ms.,Shawna,W,Buck,F,shawna.buck@gmail.com,Rosario Buck,Keisha Buck,Hendricks,...,222-11-7603,702-771-7149,Las Vegas,Clark,Las Vegas,NV,89128,West,swbuck,ja8?k3BTF^]o@<&
1,304721,Mr.,Nathaniel,Z,Burke,M,nathaniel.burke@walmart.com,Derrick Burke,Phoebe Burke,Pugh,...,550-99-9897,231-765-6923,Irons,Lake,Irons,MI,49644,Midwest,nzburke,tPA@4Wh9Ja$+Ln

In [9]:
df.columns

Index(['Emp ID', 'Name Prefix', 'First Name', 'Middle Initial', 'Last Name',
       'Gender', 'E Mail', 'Father's Name', 'Mother's Name',
       'Mother's Maiden Name', 'Date of Birth', 'Time of Birth', 'Age in Yrs.',
       'Weight in Kgs.', 'Date of Joining', 'Quarter of Joining',
       'Half of Joining', 'Year of Joining', 'Month of Joining',
       'Month Name of Joining', 'Short Month', 'Day of Joining',
       'DOW of Joining', 'Short DOW', 'Age in Company (Years)', 'Salary',
       'Last % Hike', 'SSN', 'Phone No. ', 'Place Name', 'County', 'City',
       'State', 'Zip', 'Region', 'User Name', 'Password'],
      dtype='object')

In [12]:
df.head().T

,0,1,2,3,4
Emp ID,850297,304721,412317,621375,787549
Name Prefix,Ms.,Mr.,Drs.,Mrs.,Hon.
First Name,Shawna,Nathaniel,Elisabeth,Briana,Estella
Middle Initial,W,Z,W,C,L
Last Name,Buck,Burke,Foster,Lancaster,Potter
Gender,F,M,F,F,F
E Mail,shawna.buck@gmail.com,nathaniel.burke@walmart.com,elisabeth.foster@gmail.com,briana.lancaster@yahoo.com,estella.potter@gmail.com
Father's Name,Rosario Buck,Derrick Burke,Irwin Foster,Jeffrey Lancaster,Booker Potter
Mother's Name,Keisha Buck,Phoebe Burke,Janie Foster,Shelby Lancaster,Katelyn Potter
Mother's Maiden Name,Hendricks,Pugh,Delaney,Weiss,Pate
Date of Birth,12/12/1971,10/31/1993,11/26/1994,11/24/1975,3/13/1995
Time of Birth,06:34:47 AM,02:02:38 AM,03:48:27 PM,09:44:16 PM,09:30:28 PM
Age in Yrs.,45.66,23.76,22.68,41.7,22.39
Weight in Kgs.,44,52,42,43,58
Date of Joining,12/18/2010,4/25/2017,3/27/2017,2/25/2003,10/11/2016
Quarter of Joining,Q4,Q2,Q1,Q1,Q4
Half of Joining,H2,H1,H1,H1,H2
Year of Joining,2010,2017,2017,2003,2016
Month of Joining,12,4,3,2,10
Month Name of Joining,December,April,March,February,October
Short Month,Dec,Apr,Mar,Feb,Oct
Day of Joining,18,25,27,25,11
DOW of Joining,Saturday,Tuesday,Monday,Tuesday,Tuesday
Short DOW,Sat,Tue,Mon,Tue,Tue
Age in Company (Years),6.61,0.26,0.34,14.43,0.79
Salary,119090,117991,161045,142616,135706
Last % Hike,17%,14%,28%,16%,11%
SSN,222-11-7603,550-99-9897,215-91-0004,534-71-1053,644-29-6396
Phone No.,702-771-7149,231-765-6923,270-749-4774,219-623-8216,907-677-8486
Place Name,Las Vegas,Irons,Lexington,Munster,Fairbanks
County,Clark,Lake,Fayette,Lake,Fairbanks North Star
City,Las Vegas,Irons,Lexington,Munster,Fairbanks
State,NV,MI,KY,IN,AK
Zip,89128,49644,40501,46321,99709
Region,West,Midwest,South,Midwest,West
User Name,swbuck,nzburke,ewfoster,bclancaster,elpotter
Password,ja8?k3BTF^]o@<&,tPA@4Wh9Ja$+Ln,5D.B4IGNkWJfG<~,I%?JDM;pW,j4jkEXfC&Rh

## 1. Which month saw the highest joining of the employees

   function name: max_joinings_month()
   
   inputs: DataFrame

   outputs: str

In [24]:
def max_joining(df):
  highest_month = df['Month of Joining'].value_counts()
  high = highest_month.idxmax()
  months = ['January','Feb','March','Apr','May','Jun','Jul','Aug',
            'Sep','Oct','Nov','Dec']
  month = months[high]
  return f"The month that faced highest inductions is {month} which is {high}th month"

max_joining(df)

'The month that faced highest inductions is May which is 4th month'

## 2. What is the mean salary is the state KS

   function name: mean_ks_salary()
   
   inputs: DataFrame

   outputs: float

In [32]:
def mean_Ks_salary(df):
  rows = df[df['State']=='KS']
  mean_ks_salary = rows['Salary'].mean()
  return f"Mean salary in the KS State is {mean_ks_salary}"

mean_Ks_salary(df)

'Mean salary in the KS State is 104225.45454545454'

## 3. Which Region has highest mean salary

   function name: max_mean_salary_region()

   inputs: DataFrame

   outputs: str

In [50]:
def max_mean_salary_region(df):

  mean_salary_by_region = df.groupby('Region')['Salary'].mean()
  highest_mean_salary_region = mean_salary_by_region.idxmax()
  value = highest_mean_salary_region.value
  return highest_mean_salary_region


max_mean_salary_region(df)

'Midwest'

In [53]:
def max_mean_salary_region(df):
  mean_salary_by_region = df.groupby('Region')['Salary'].mean()
  region = mean_salary_by_region.idxmax()
  value = mean_salary_by_region.loc[region]
  return f"Region with highest salry is {region} with mean income of {value}"

max_mean_salary_region(df)

'Region with highest salry is Midwest with mean income of 122633.6456140351'

## 4. Which region has lowest mean salary

   function name: min_mean_salary_region()

   inputs: DataFrame

   outputs: str

In [54]:
def max_mean_salary_region(df):
  mean_salary_by_region = df.groupby('Region')['Salary'].mean()
  region = mean_salary_by_region.idxmin()
  value = mean_salary_by_region.loc[region]
  return f"Region with lowest salry is {region} with mean income of {value}"

max_mean_salary_region(df)

'Region with lowest salry is West with mean income of 118910.1975308642'

## 5. Which City has highest mean weight

   function name: max_mean_weight_city()

   inputs: DataFrame

   outputs: str

In [58]:
def max_mean_weight_city(df):
  mean_salary_by_region = df.groupby('City')['Weight in Kgs.'].mean()
  city = mean_salary_by_region.idxmax()
  value = mean_salary_by_region.loc[city]
  return f"Region with highest weight is {city} with mean weight of {value} kgs"

max_mean_weight_city(df)

'Region with highest weight is Conroe with mean weight of 90.0 kgs'

## 6. What is the difference between mean salary of Doctors and Professors

   function name: dr_prof_mean_salary_diff()

   inputs: DataFrame

   outputs: float

In [82]:
doctors_df = df[df['Name Prefix'].str.contains('Dr.')]
mean_salry_doctors = doctors_df['Salary'].mean()

professors_df = df[df['Name Prefix'].str.contains('Prof.')]
mean_salary_professors = professors_df['Salary'].mean()

difference_between_doctor_professor = mean_salary_professors - mean_salry_doctors
print(difference_between_doctor_professor)

2635.981785063763

## 7. How many female use yahoo

   function name: females_with_yahoo()

   inputs: DataFrame

   outputs: int

In [74]:
def females_with_yahoo(df):

  female_users = df[df['Gender'] == 'F']
  yahoo_female_users = female_users[female_users['E Mail'].str.contains('yahoo', case=False)].shape[0]
  return f"{yahoo_female_users} females use yahoo"

females_with_yahoo(df)

'69 females use yahoo'

## 8. How many Doctors use gmail

   function name: doctors_with_gmail()

   inputs: DataFrame

   outputs: int

In [83]:
def doctors_with_gmail(df):
  doctors_df = df[df['Name Prefix'].str.contains('Dr.')]
  gmail_doctors_count = doctors_df[doctors_df['E Mail'].str.contains('gmail', case=False)].shape[0]
  return f"{gmail_doctors_count} doctors use gmail"

doctors_with_gmail(df)

'42 doctors use gmail'

## 9. What is the password of the youngest male

   function name: youngest_male_password()

   inputs: DataFrame

   outputs: str

In [103]:
def youngest_male_password(df):
  df_male = df[df['Gender'] == 'M']
  min_age = df_male['Age in Yrs.'].min()
  df_min_age = df_male[df_male['Age in Yrs.'] == min_age]
  password = df_min_age['Password']
  return f" youngest males have password {password}"

youngest_male_password(df)

' youngest males have password 127       xPr\\aGPTQ#v\n945    4FZyXCh^&{!Q8u\nName: Password, dtype: object'